{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agri Nuture Limited</title>
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" />
</head>
<body>
  <header class="sticky-header">
  <div class="nav-container">
    <div class="logo">Agric Nurture</div>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; Agric Nurture Limited. All rights reserved.</p>
  </footer>

  {% block extra_js %}
  <script src="{% static 'core/js/scripts.js' %}"></script>
{% endblock %}

</body>
</html>
